{% extends 'base.html' %}
{% load static %}

{% block content %}
<p>Room name- {{room_name}}</p>
<p>Loged as - {{request.user.username}}</p>
<div class="container">    
    <div id="chat-log">
        {% for chat in chats.all %}
            {% if chat.user.id == request.user.id %}
                <div class="message sender">
                    {{ chat.content }}
                </div>
            {% else %}
                <div class="message receiver">
                    {{ chat.content }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="container">
    <input class="textInput" id="chat-message-input" type="text">
    <br><br>
    <input class="button" id="chat-message-submit" type="submit" value="Send">
</div>

{{ room_name|json_script:"room-name" }}
{{ request.user.id|json_script:"user_id" }}
{% endblock %}

{% block script %}
<script src="{% static '/js/room.js' %}" ></script>
{% endblock %}