{% extends 'base.html' %}
{% load static %}

{% block content %}
<p>Room name- {{room_name}}</p>
<p>Loged as - {{request.user.username}}</p>
<div class="container">    
    <input id="mark-as-read" type="checkbox">
    <label for="mark-as-read">Mark as read</label> <br>

    <div id="chat-log" class="infinite-container">
        
        {% for chat in page_obj %}
            {% if chat.user.id == request.user.id %}
                <div class="infinite-item message sender">
                    {{ chat.content }}
                </div>
            {% else %}
                {% if chat.seen == False %}
                    <div class="infinite-item message receiver">
                        {{ chat.content }}
                    </div>
                {% else %}
                    <div class="infinite-item message receiver">
                        {{ chat.content }} <small>read!</small>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a class="infinite-more-links" href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<div class="container">
    <input class="textInput" id="chat-message-input" type="text">
    <br><br>
    <input class="button" id="chat-message-submit" type="submit" value="Send">
</div>

{{ room_name|json_script:"room-name" }}
{{ request.user.id|json_script:"user_id" }}
{% endblock %}

{% block script %}
<script src="{% static '/js/room.js' %}" ></script>
{% endblock %}